.course {
  max-width: 500px;
  width: 100%;
  min-height: 80vh;

  &Block {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &Button {
    margin-left: 1rem !important;
  }
  &Li {
    margin: 0 auto;
  }
  &Next {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
}