.App {
    display: flex;
    flex-flow: column;
    height: 100%;
    min-height: 100vh;
}

.Options {
    margin: 64px 0;
}


.Options > li {
    margin-bottom: 16px;
}

.Options > li > button:focus {
    outline: 2px solid black;
}

.game {
    max-width: 400px;
    width: 100%;
}

.game > h2 {
    text-transform: uppercase;
}
